<div class="row">
  <div class="large-12 columns" role="content">
    <article>
      <h3><a href="#/about_me">About Me</i></a></h3>

      <div class="row">
        <div class="large-6 columns">
          <p>I am a Rails developer who enjoys the struggle of learning a new topic as much as completing a task I've done many times before.  I graduated from Turing School of Software and Design in March and am activly looking to join a team where I can progress all of my programming knowledge and where I have the opportunity to learn all about production applications.</p>
          <p>I Left the medical field in search of a carrer that would challenge me to find answers to difficult problems and give me the freedom of creation.  Programming has given me just that, a skill that allows me to solve problems and build really cool things.  Web Development has become an enormouse part of my life over the last year and I am excited to keep moving forward.</p>
        </div>
        <div class="large-6 columns">
          <img src="https://lh3.googleusercontent.com/JZHepumSHOjSU1dVXEfsHshgtARKiUYKa_Lo-BCmGJE=w734-h414-p-no" alt="Image"/>
        </div>
      </div><br>

      <p>I moved to Colorado after I graduated college in Vermont.  While in VT I worked as an EMT and Phlebotomist.  Coming from the medical world to web development was a fairly big change, but one that I welcomed.  Programming has always been an interest of mine, although it was not until I came to CO that I realized how much really goes into web development.</p>

      <p>Having only worked with a few languages and web tools for about a year, I know how much more there is to learn.  I made this website to possibly help anyone who stumbles on it while facing some of the problems I ran into while programming.</p>

    </article>
    <hr/>
  </div>

  <div class="row">
    <h2>Contact Me</h2>
  </div><br>

  <div class="large-4 columns text-center">
    <h3>Email</h3>
    tjmee90@gmail.com
  </div>
  <div class="large-4 columns text-center">
    <a ng-href="#/about_me">
      <h3>Resume</h3>
      View PDF
    </a>
  </div>
  <div class="large-4 columns text-center">
    <a ng-href="https://www.linkedin.com/pub/timothy-mee/7b/ba3/884">
      <h3>LinkedIn <i class="fi-social-linkedin linkedin"></i></h3>
      Timothy Mee
    </a>
  </div>
</div><br>

