<div class="row">
  <div class="large-12 columns" role="content">
    <article>
      <h3><a href="#/about_me">About Me</i></a></h3>

      <div class="row">
        <div class="large-6 columns">
          <p>I am a software developer with an ever-curious eye for new and dynamic applications. My programming background is complimented by a BA in Economics which affords me a keen understanding of our complex society, and experience in analyzing policy issues from a rational perspective. I graduated from Turing School of Software and Design (Denver, CO) and now I am eager to join a team where I can contribute sound programming knowledge, while delving deeper into production applications.</p>
          <p>After graduating from St. Michael’s College in Vermont, I continued my work in healthcare as an EMT and Phlebotomist (for three years during college I was an active member of the St. Michael’s College Fire Rescue team as an Advanced Emergency Medical Technician). I finally settled in Colorado after completing a crosscountry trek (VT to WA, with many states in between)−an adventure I had plotted and planned for over two years. My leap from healthcare to web development was a radical one, but one that I fully embraced. Programming had always been on my radar and once I landed in CO I took advantage of pursuing my dream.</p>
        </div>
        <div class="large-6 columns">
          <img src="https://lh3.googleusercontent.com/JZHepumSHOjSU1dVXEfsHshgtARKiUYKa_Lo-BCmGJE=w734-h414-p-no" alt="Image" style="height:400px;"/>
          <div class="large-6 columns">
            <h8>Somewhere in Jiggs, NV</h8>
          </div>
          <div class="large-6 columns text-right">
            <a href="https://instagram.com/mee.ti/" target="_blank"><h8>@mee.ti</h8></a>
          </div>
        </div>
      </div><br>

      <p>I am now eager to learn more by becoming part of a team where I can also share my experience in programming as I work cooperatively to drive that team forward. Currently I am working with Turing School of Software and Design as a Ruby and JavaScript Developer, assisting Instructors with projects and tutorials, as well as building a CMS for the TechHire Initiative website.</p>

      <p>I offer this website as a reference and learning tool for those interested in pursuing programming skills. I believe in sharing knowledge base and enjoy being a part of creative and challenging efforts.</p>

    </article>
    <hr/>
  </div>

  <div class="row">
    <h2>Contact Me</h2>
  </div><br>

  <div class="large-3 columns text-center">
    <h3>Email</h3>
    tjmee90@gmail.com
  </div>
  <div class="large-3 columns text-center">
    <a ng-href="#/about_me">
      <h3>Resume</h3>
      <a ng-href="https://turing-people-production.s3.amazonaws.com/uploads/person/resume/38/timothy_mee.pdf" target="_blank">View PDF</a>
    </a>
  </div>
  <div class="large-3 columns text-center">
    <a ng-href="https://www.linkedin.com/pub/timothy-mee/7b/ba3/884" target="_blank">
      <h3>Linked<img src="https://static.licdn.com/scds/common/u/images/logos/linkedin/logo_in_nav_retina_88x72.png" style="width: 30px;padding-bottom: 4px;" alt="Image"/></h3>
      Timothy Mee
    </a>
  </div>
  <div class="large-3 columns text-center">
    <a ng-href="https://www.github.com/tmee" target="_blank">
      <h3>Github<img src="https://assets-cdn.github.com/images/modules/logos_page/GitHub-Mark.png" style="width: 30px;padding-bottom: 4px;" alt="Image"/></h3>
      Tmee
    </a>
  </div>
</div><br>

