<footer>
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <ul class="inline-list right">
        <li><a href="http://turing.io/">Turing School</a></li>
        <li><a href="http://api.rubyonrails.org/">Rails API Guide</a></li>
        <li><a href="https://docs.angularjs.org/api">Angular Docs</a></li>
        <li><a href="http://foundation.zurb.com/docs/">Foundation Docs</a></li>
      </ul>
    </div>
  </div>
</footer>
