<div class="row" ng-controller="CnetIndexController">
  <ul id="featured" data-orbit class="example-orbit-content" >
    <li data-orbit-slide="topStory-1">
      <img ng-src="{{cnetStory1.image}}" alt="slide 1" />

      <div class="orbit-caption">
        <h3>{{cnetStory1.header}}</h3>
        <p>{{cnetStory1.detail}}</p>
      </div>
    </li>
    <li data-orbit-slide="topStory-2">
      <img ng-src="{{cnetStory2.image}}" alt="slide 2" />

      <div class="orbit-caption">
        <h3>{{cnetStory2.header}}</h3>
        <p>{{cnetStory2.detail}}</p>
      </div>
    </li>
    <li data-orbit-slide="topStory-3">
      <img ng-src="{{cnetStory3.image}}" alt="slide 3" />

      <div class="orbit-caption">
        <h3>{{cnetStory3.header}}</h3>
        <p>{{cnetStory3.detail}}</p>
      </div>
    </li>
  </ul>
</div>

<div class="row text-center">
  <a ng-href="#/articles"><h2 class="subheader">Browse Tutorials</h2></a>
</div><br>

<div class="row text-center" ng-controller="ArticleIndexController">
  <div ng-repeat="article in articles | limitTo:3">
    <a ng-href="#{{article.link}}">
      <div class="large-4 columns panel callout home-panel">
        <img ng-src="{{article.image}}" alt="{{article.image}}">
        <br/><br/>
        <h4>{{article.title}}</h4><hr/>
        <p>{{article.description}}</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="panel">
    <h4>Get in touch!</h4>
    <div class="row">
      <div class="large-9 columns">
        <p>Maybe hire me?</p>
      </div>
      <div class="large-3 columns">
        <a href="#/about_me" class="radius button right">Contact me</a>
      </div>
    </div>
  </div>
</div>
