<div class="row">
  <div class="large-12 columns">
    <div style="width:1000px;height:400px;">
      <div class="row text-center" ng-controller="CnetIndexController">
        <div ng-repeat="story in stories">
          <a ng-href="{{story.link}}">
            <div class="large-4 columns home-panel" style="background-image: url({{story.image}})">
              <br/><br/>
              <h4>{{story.header}}</h4><hr/>
              <p>{{story.detail}}</p>
            </div>
          </a>
        </div>
      </div>
    </div><hr/>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div class="topStory home-images" ng-controller="CnetIndexController">
      <img ng-src="{{backgroundUrl1}}">
      <img ng-src="{{backgroundUrl2}}">
      <img ng-src="{{backgroundUrl3}}">
    </div>
  </div>
</div><br>

<div class="row text-center">
  <a ng-href="#/articles"><h2 class="subheader">Browse Tutorials</h2></a>
</div><br>
<div class="row text-center" ng-controller="ArticleIndexController">
  <div ng-repeat="article in articles | limitTo:3">
    <a ng-href="#{{article.link}}">
      <div class="large-4 columns panel callout home-panel">
        <img ng-src="{{article.image}}" alt="{{article.image}}">
        <br/><br/>
        <h4>{{article.title}}</h4><hr/>
        <p>{{article.description}}</p>
      </div>
    </a>
  </div>
</div>

<div class="row">
  <div class="panel">
    <h4>Get in touch!</h4>
    <div class="row">
      <div class="large-9 columns">
        <p>Maybe hire me?</p>
      </div>
      <div class="large-3 columns">
        <a href="#/about_me" class="radius button right">Contact me</a>
      </div>
    </div>
  </div>
</div>
