<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <a ng-href="#/">
      <li class="">
        <img src="https://avatars1.githubusercontent.com/u/8226837?v=3&s=460" class="nav-picture"/>
      </li>
    </a>
  </ul>

  <section class="top-bar-section">
    <ul class="left">
      <a ng-href="#/">
        <li><h3 class="mee white">Tim Mee</h3></li>
      </a>
    </ul>

    <ul class="right" style="margin-top: 4%;margin-right: 5%;">
      <li><a ng-href="#/articles"><h4 class="button round">Article Index</h4></a> </li>
      <li><a ng-href="https://github.com/Tmee"><h4 class="button round">Github <i class="fi-social-github"></i></h4></a> </li>
      <li><a ng-href="#/about_me"><h4 class="button round">About Me</h4></a> </li>
    </ul>
   </section>
</nav><br>