<!DOCTYPE html>
<html>
  <head>
    <title>Tim Mee</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
  </head>
  <body ng-app="techSite">

    <div ng-include='"nav_bar.html"'></div>
    <div class='row'>
      <div ng-view></div>
    </div>
    <div ng-include='"footer.html"'></div>

  </body>
</html>
